.mat-toolbar{
    margin: -24px;
    width:auto !important;
    margin-bottom: 10px !important;
    background-color: #3f51b5 !important;
}
.title-center{
    flex: 1 1 auto !important;
    text-align: center !important;
}
mat-form-field{
    padding: 5px !important;
}
